# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ndvi_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Sentinel Hub
SENTINEL_HUB_CLIENT_ID=your_client_id
SENTINEL_HUB_CLIENT_SECRET=your_client_secret
SENTINEL_HUB_INSTANCE_ID=your_instance_id

# Google Earth Engine (if used)
GEE_SERVICE_ACCOUNT=your_service_account_email
GEE_PRIVATE_KEY=your_private_key

# Ingestion Config
DEFAULT_AOI_GEOJSON='{"type":"Polygon","coordinates":[[[...]]]}'
DEFAULT_TIME_RANGE="2023-01-01/2023-01-31"
MAX_CLOUD_COVER=10.0

# API
API_HOST=0.0.0.0
API_PORT=8000
